*{
    padding:0px;
    margin:0px;
    box-sizing:border-box;
    
}
.head{
    
    text-align: center;
}
@media (min-width:768px){
     .para1, .para2{
         display: inline-block;
         vertical-align: top;
         width: 49%;
         padding:10px;
     }    
}
@media (min-width:1024px){
     .spesialpowers{
         display: inline-block;
         vertical-align: top;
         width: 33%;
         padding:10px;
         color:blue;
     }    
     .spesialpowers1{
         display: none;
     }
     h4{
         color:black;
     }
}

