.head{
    text-align:center;
    font-weight:500;
    margin-bottom: 20px;
}
.fristblock{
    text-align: center;
    /*margin-right:20px;*/
    /*padding-top:10px;*/
    /*margin-bottom:20px;*/
    /*box-shadow:  -3px -3px #ffffff90,  3px 3px 15px lightgreen;*/
    border-radius: 30px;
    /*margin-bottom: 15px;*/
}
.row1subbox1{
    margin-bottom: 15px;
  /*margin-top: 25px*/

}
.row1subbox2{
 margin-top: 15px;   
}
.card{
 text-align: center;
   /*margin-bottom:25px;*/
  /*padding-top:20px;*/
  box-shadow: inset -3px -3px #ffffff70, inset 3px 3px 15px #00000070;
  padding-top:10px;
  /*margin-bottom: 25px;*/
  /*margin-top: 25px*/
}
.footer{
    padding:5px 15px 5px  15px;
   margin-top:30px; 
   margin-left:40vw;
}
