*{
    padding:0px;
    margin:0px;
    /*border:1px solid green;*/
  /*box-sizing: border-box;*/
}
.head{
    
    text-align: center;
}
@media (min-width:768px){
     .para1, .para2{
         display: inline-block;
         vertical-align: baseline;
         width: 49%;
     }    
}