/*.head{*/
    /*padding-left:100px;*/
/*    font-weight:bold;*/
/*}*/
/*.mainslider{*/
/*    background-image:linear-gradient(#005aa7, #fffde4); */
/*    border-radius:20px;*/
    /*padding:20px;*/
/*}*/
/*.col-8{*/
/*    margin:20px;*/
/*    padding-right:55px;*/
    /*padding-right:25px;*/
/*}*/
/*span{*/
/*    padding:50px;*/
/*}*/
.box1{
    background-image: linear-gradient(#005aa7, #fffde4);
    height:200px;
}
.box2{
    background-image: linear-gradient(white,skyblue);
    height:200px;
}
.box3{
background-image: linear-gradient(green, skyblue);
height:200px;
}
.box4{
background-image: linear-gradient(red, skyblue);
height:200px;
}
.box5{
background-image: linear-gradient(violet, skyblue);
height:200px;
}
.box6{
background-image: linear-gradient(tomato, skyblue);
height:200px;
}
