.navbar{
    margin: 10px;
}

.logo{
    width:25px;
    height:25px;
    opacity: 0.9;
    margin-right:10px;
}
.Websitename{
    font-weight: 900;
    font-size: medium;
}
/**{*/
/*    border:1px solid green;*/
/*}*/
.navbarlinks{
    padding:0px;
    display:inline-block;
    text-align:right;
}


.wrap{
    background-color:#00000050;
    width:100%;
     padding-top:200px;
}
.header{
    background-image: url(assets/background.jpg);
    /*background-position: top;*/
    height: 700px;
    /*background-size: contain;*/
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin-bottom: 10px;
   
}
.profilepic{
    width:125px;
    height: 125px;
    
    text-align: center;
    margin-top: 100px;
}
.profilethumb{
 width:125px;
    height: 125px;
    
    border-radius:50px;
    text-align:center;
    
}
.titlesofpro{
    color:white;
    text-align:center;
    padding-bottom: 0px;
    
    margin:auto;
}
.profiletext{
    text-align: center;
    color:white;
}
.probutton{
    text-align: center;
}
.section1{
    margin-top:20px;
}
.subtitele{
    opacity:0.3;
}
.section1{
    margin:20px;
}
.section1passage{
    font-size:15px;
}




.section2{
    background-color: #f5f5f5
}
.section2head{
    text-align: center;
}
.section2buttons{
    
    
    margin:auto; 
}



.section3{
    margin-top:20px;
}

.section3image1{
    background-size: cover;
}
.section3image1{
    
}
.socialicons{
    text-align: right;
    padding-right: 10px;
}



.footer{
    background-color: #f5f5f5;
    padding:10px 0px 10px 0px;
    border-radius: 10px 0px 10px 0px;
}