.body1{
   background:url(assets/bg-image.jpg); 
   /*background-image:linear-gradient(90deg, #141e30, #243b55);*/
   background-size:cover;
   /*background-repeat:no-repeat;*/
   /*background-position:top left;*/
   width:100vw;
   height:92vh;
}
.centerimg{
-webkit-clip-path: circle(27.8% at 47% 29%);
-clip-path: circle(27.8% at 47% 29%);
     width:280px;
height:280px;
.box-sizing:border-box;
} 
.wrap{
    padding-top:150px;
    margin:auto;
    /*border:2px solid;*/
    height:250px;
    width:250px;
    box-sizing:border-box;
}
.text{
    padding-top:90px;
    text-align: center;
    /*background-image:linear-gradient(90deg, skyblue, white);*/
    color:white;
    padding-left:10px;
}
.pad{
    padding-top:0px;
    margin-top:-15px;
    /*margin-bottom:px;*/
}
.footer{
    margin-top:-30px;
    /*background-color:;*/
    border-radius:50px;
    width:90vw;
    height:40px;
    margin-left:45px;
    padding-bottom:15px;
    background-image:linear-gradient(90deg, skyblue, white);
}
.name{
    display:inline-block;
    padding-left:30px;
    padding-right:20px;
    /*border:2px solid red;*/
}
.frist{
    padding-left:195px;
}
.lasst{
    padding-right:200px;
}