/*@import url(another.css);*/
/*@media(width:360){*/
/*    body{*/
/*        color:red;*/
/*    }*/
/*}*/
/*@media (max-width: 767px){*/
/*    body{*/
/*       background-color:red;*/
/*    }*/
/*}*/
/*@media all and (min-width:600px){*/
/*@media (max-width: 991px){*/
/*    body{*/
/*       background-color:blue;*/
/*    }*/
/*}*/
/*}*/
/*@media all and (min-width:600px){*/
/*@media (min-width: 992px){*/
/*    body{*/
/*       background-color:orange;*/
/*    }*/
/*}*/
/*}*/

/*@media only screen and (orientation: portrait){*/
/* body{*/
/*     background-color: lightblue;*/
/* }    */

/*}*/
/*@media only screen and (orientation: landscape){*/
/* body{*/
/*     background-color: yellow;*/
/* }    */

/*}*/
*{
    margin: 0px;
   padding:0px;
   font-size: 0px;
    box-sizing: border-box;
    
}
.box{
       height:200px;
    display: inline-block;
    width: 100%;
    background:red;
    
    
}
@media (max-width: 800px){
    .box{
        background-color:green;
        border:5px solid yellow;
        width:50%;
    }
}
@media (min-width: 992px){
    .box{
        background-color:orange;
        border:5px dotted yellow;
        width: 33.333%;
    }
}
