 /**{*/
    
 /*   border:1px solid green;*/
 /*}*/
.topicsSec
{
    border-bottom:1px solid dodgerblue;
}
.navbar1{
    display:block;
    background-color: black;
}
.cat{
    -webkit-filter:invert(100%);
}
.dropdown1{
    display: inline;
    padding: 0px;
    opacity: 2;
}
.Explore{
    text-align:center;
    padding-top:30px;
}
.headerforlg{
    padding-top:30px;
}
.navbar{
    background-color: black;
    
}
.header2{
    /*justify-content:center;*/
    margin-top:20px;
}

.li1{
     list-style-type:none;
     /*margin-top: 30px;*/
   display:inline-block; 
   /*margin-left:-10px;*/
   opacity:0.5;
   /*font-size: 15px;*/
}
.head{
    margin:auto;
}
.topic{
   opacity:2;
   
   /*border-bottom:1px solid dodgerblue;*/
}

.mainhead{
    /*padding-top:50px;*/
    text-align:center;
    /*padding-bottom:50px;*/
    height:150px;
    /*margin:auto;*/
    padding-top:50px;
   }
.box1{
    text-align:center;
    /*border:2px solid red;*/
    margin-bottom: 20px;
}
.card{
    /*width:200px;*/
    /*height: 200px;*/
    /*border:2px solid red;*/
    box-shadow: 0 -15px 15px rgb(255, 255, 255, 0.05),  
    inset -15px 0 15px rgb(255, 255, 255, 0.05), 
    0 -15px 15px rgb(255, 255, 255, 0.05), 
    inset -15px 0  15px rgb(255, 255, 255, 0.05);
}
.section2{
    margin-top: 20px;
    /*padding:50px;*/
    /*margin:auto;*/
    margin-bottom:40px;
    /*display: flex;*/
    /*height: 200px;*/
}




/**/



/*<section3>*/


.hash{
    width:70px;
    height: 70px;
    text-align:center;
    padding-top:18px;
    background-color:#f5f5f5;
    margin-right: 70px;
    margin-left:-15px;
}
.hashforsmall{
     width:70px;
    height: 70px;
    text-align:center;
    padding-top:18px;
    background-color:#f5f5f5;
    /*margin-right: 50px;*/
    /*margin-top:30px;*/
    
}
.image{
      width:70px;
    height: 70px;
    padding-right:20px;
   
}
.passage{
    padding:0px;
}
.star{
     background-color:#f5f5f5;
    font-size:15px;
    letter-spacing: 2px;
    color:black;
    padding:10px;
    font-weight: bold;
}
.footbuttons{
    padding:5px;
    margin:2px;
}

.bottombutton{
    color: dodgerblue;
    border:0.5px solid black;
    margin: 30px;
}