span{
    padding:7px;
}
.head{
    padding-top:2px;
}
.content{
    text-align:center;
    padding:0px 100px 0px 100px;
}
.move{
    /*margin:5px;*/
    margin-left:100px;
}
.card{
    margin-left:30px;
}
.icon{
    /*padding-left:50px;*/
    height:40px;
    border:0.5px solid blue;
    width:40px;
    padding-top:4px;
    background:linear-gradient(#56ab2f, #a8e063);
    border-radius: 10px;
}

/*for small screen*/

.contentsm{
    text-align:center;
}


